build
.ipynb_checkpoints
*.o
*.DS_Store
*.mod
*.so
*.a
*.dSYM
*.pyc
*.swp
docs/_html/*
docs/_latex/*
_build
dist
docs/examples/command_line/output
docs/examples/notebooks/output
README.html
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.egg-info
pip-wheel*
*wrkDir
x*-err-*
x*-out-*
.hypothesis
output/
basicCenter_psf60
basicShift_psf60
cosmo085_psf60
cat_try*/
sum_try*/
gist
