build
.ipynb_checkpoints
*.o
*.DS_Store
*.mod
*.so
*.a
*.dSYM
*.pyc
*.swp
doc/_html/*
doc/_latex/*
_build
dist
examples/output
*.html
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.egg-info
pip-wheel*
*wrkDir
